In [2]:
#import dependencies

import tensortrade
import pandas as pd
import tensortrade.env.default as default

from tensortrade.data.cdd import CryptoDataDownload
from tensortrade.feed.core import Stream, DataFeed
from tensortrade.oms.exchanges import Exchange
from tensortrade.oms.services.execution.simulated import execute_order
from tensortrade.oms.instruments import USD, BTC, ETH
from tensortrade.oms.wallets import Wallet, Portfolio
from tensortrade.agents import DQNAgent

cdd = CryptoDataDownload()

data = cdd.fetch("Bitfinex", "USD", "BTC", "1h")
data

,date,unix,open,high,low,close,volume
0,2018-05-15 06:00:00,1526364000,8723.8,8793.0,8714.9,8739.0,8.988054e+06
1,2018-05-15 07:00:00,1526367600,8739.0,8754.8,8719.3,8743.0,2.288904e+06
2,2018-05-15 08:00:00,1526371200,8743.0,8743.1,8653.2,8723.7,8.891773e+06
3,2018-05-15 09:00:00,1526374800,8723.7,8737.8,8701.2,8708.1,2.054868e+06
4,2018-05-15 10:00:00,1526378400,8708.1,8855.7,8695.8,8784.4,1.730972e+07
...,...,...,...,...,...,...,...
24230,2021-02-17 20:00:00,1613592000000,52130.0,52564.0,51991.0,52260.0,2.713015e+07
24231,2021-02-17 21:00:00,1613595600000,52260.0,52577.0,52043.0,52376.0,1.641689e+07
24232,2021-02-17 22:00:00,1613599200000,52376.0,52400.0,51963.0,52096.0,1.521480e+07
24233,2021-02-17 23:00:00,1613602800000,52082.0,52388.0,51874.0,52116.0,1.604191e+07
24234,2021-02-18 00:00:00,1613606400000,52110.0,52496.0,52110.0,52361.0,7.488482e+06